<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Konwerter wyrażeń matematycznych na Latex</h1>
<div class="container">
    <div class="items">
        <form action="/interpret" method="post">
            <input type="text" name="expression" placeholder="Wpisz wyrażenie">
            <button class="submit-btn" type="submit">Konwertuj na Latex</button>
        </form>
        <div class="keyboard">
            <button class="key" onclick="handleClick('√')">√</button>
            <button class="key" onclick="handleClick('π')">π</button>
            <button class="key" onclick="handleClick('Ω')">Ω</button>
            <button class="key" onclick="handleClick('Σ')">Σ</button>
            <button class="key" onclick="handleClick('∫')">∫</button>
            <button class="key" onclick="handleClick('∏')">∏</button>
        </div>
        <div class="result">
            <h2>Wynik:</h2>
            <h3 th:text="${result}"></h3>
        </div>
    </div>
</div>
<script>
    function handleClick(key)
    {
        const input = document.getElementsByTagName("input")[0];
        input.value+=key;
    }
</script>
</body>
</html>
