<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <form action="/interpret" method="post">
        <input type="text" name="expression" placeholder="Wpisz wyrażenie">
        <button type="submit">Oblicz</button>
    </form>
    <div>
        <h2>Wynik:</h2>
        <p th:text="${result}"></p>
    </div>
</div>
</body>
</html>
